
@media only screen
and (max-width : 1024px) {

  .header_holder {padding: 0;position: static;}

  header { padding: 40px 25px; border-bottom: none; background: var(--secColor); border-bottom: 1px solid var(--thirdColor);}
  
  .header_con{min-height: 0;padding:0; display: flex; justify-content: space-between; align-items: center;}

  .main_logo{position: static; transform: none;width: 50%;}
  .main_logo img { }
  .head_info{ display: block;color:var(--bodyColor);}

  .social_media{position: static; text-align: right; display: block;margin: -23px 0 0;}
  .header_con .head_info {height: unset; width: unset;}
  .social_media h2{padding-bottom: 7px;}
  .social_media ul li { display: inline-block;}
  .social_media h3{color: var(--bodyColor);}
  
  #nav_area{background: var(--secColor);}
  .page_nav {width:100%;float: none; clear: both;height:auto;transition:none;padding:25px 0;margin:0 auto 0;background: var(--secColor);}
  #menu-main-menu {display: block;}
  .page_nav ul{ margin:0; padding:0;text-align:center; flex-wrap: wrap; justify-content: center; gap: 10px;}
  .page_nav ul li{width: 48%; margin:5px 3px;right:0;}
  .page_nav ul li a { margin: 0; }
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{border:1px solid var(--thirdColor);border-radius:5px;line-height: 60px;height:auto; padding: 0 15px !important; color:var(--thirdColor);}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;background:var(--priColor); border: 1px solid transparent;color: var(--thirdColor);}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px; display: block; color: var(--thirdColor);}

  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%;}
  .page_nav ul ul li{margin: 0 !important}
  .page_nav ul ul li a{padding: 0 15px !important;}
  .page_nav { max-width: 100%; }

  
  #hero{padding:0;}
	.hero_con{min-height:0;padding:0;}
	.box_skitter{display:none;}


  .hero_info{width:100%; max-width: 100%; position:static;padding:50px 15px;text-align: center; transform: none; background:var(--priColor); display: block;}
  .hero_info a { margin: 30px auto 0; }
  .hero_info::before { display: none; }
	
  .non_ban_img{width: 185%;margin-left: -40%;transform:none;}
  .animated { animation-name:none!important; transform:none!important; opacity:1!important; -webkit-transform:none!important; transform:none!important; }
  #main_area{padding:0; margin:0; min-height:0;}
  .main_con{min-height:0;padding:0;}
  main, .sidebar{float:none; margin: auto; width:100%;}

  main { max-width: 100%; color:var(--bodyColor); border-top: 2px solid var(--thirdColor); padding: 50px 15px;}
  
  .service_con{min-height:0; padding:50px 15px;}
  .service_infos{max-width: 100%;}
  .service_boxes { justify-content: center; flex-wrap: wrap; }
  .service_boxes section {width: 100%; }
  .service_info_con { padding:0; }
  
  .portfolio_con {padding: 50px 15px;}
  .portfolio_boxes section { width: 100%; }
  .portfolio_boxes { justify-content: center; }
  .portfolio_info { width: 100%; }

  .service_info_con { display: block; text-align: center; }
  .service_info { padding-bottom:0; max-width:unset; width: unset; }
  .service_info2 { max-width: unset; width:unset; padding:0; }
  .service_boxes { row-gap: 40px; }

  .contact_details ul li { font-size: 16px;}
  .footer_nav {  padding:0; }
  .footer_top{height:auto;padding: 40px 25px;}
  .footer_top_con{min-height:0;padding:0; display: block;}
  .footer_holder{display: block;text-align: center;}
  .contact_info { justify-content: center; flex-wrap: wrap; }
  .contact_details {   padding: 30px 0 0; }
  .contact_info ul{}
  .contact_info ul li{padding:0;display:block; margin-top:20px;font-size:20px;}
  .contact_info ul li:before{display:block;position:static;margin:0 auto 10px;}
  .map_con{left:0;right:0;margin:0;max-width: unset;width: unset;}
  
  .footer_top_con { border-bottom:none; }

  .footer_nav { text-align: center; }
  .footer_nav ul { text-align: center;flex-wrap: wrap; gap: 10px; }
  .footer_nav ul li{width:49%; }
  .footer_nav ul li a{color: var(--thirdColor);border:1px solid var(--thirdColor);margin:5px;padding:15px 10px !important;line-height: initial; }
  .footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background:var(--priColor); border:1px solid transparent;color:var(--thirdColor);}
  .footer_nav ul li:after{display:none;}
  .copyright{float: none;margin: 25px auto;text-align: center; position: static;}
}

@media only screen
and (max-width : 768px) {
    header{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; background: var(--thirdColor);}
    .main_logo{max-width: 78%; background: none; width: unset; height: unset;}
    .head_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;width: 100%;height: unset;}

    .social_media{text-align: center; margin-top: 0;width: fit-content;margin: 0;}

    .main_logo { max-width: 50%; }
    .hero_info h2 { font-size: 38px; }

    #nav_area{padding:25px 15px;background:var(--secColor);position:relative; border-bottom: 1px solid var(--thirdColor) } 
    .nav_toggle_button{display:block;position:relative;}

    .page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
    .page_nav ul{margin: 0; padding: 25px 15px;}
    .page_nav ul li{width: 100%; display: block; margin: 0 auto; height: max-content;}

    .page_nav ul ul{width:100%; position:relative;  transition:none;}
    .page_nav ul ul li {border:none; width:100%;}

    .page_nav ul ul ul{width:100%; position:relative;  transition:none; right:0;}
    .page_nav ul ul ul li:last-child a{line-height: 30px;}

    .page_nav ul ul li:last-child ul { width: 100%; right: 0; }
    .page_nav ul ul li a:hover, .page_nav ul li.current_page_item ul li a:hover, .page_nav ul ul li.current_page_item a { }
    .nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner::before, .nav_toggle_button .hamburger-inner::after { background: var(--thirdColor); }
    .nav_toggle_button small { color: var(--thirdColor); }
    .page_nav ul ul a, .page_nav ul li.current_page_item ul li a {padding: 0 20px; }

    .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
    .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
    .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
    nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
    .menu_slide_right {width: 60%; margin: 25px 0; display: block;}
    .menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner::after, .menu_slide_right .hamburger-inner::before {color: var(--thirdColor);     background: var(--thirdColor);}
    .menu_slide_right .toggle_holder {top: 60px; right: 15px;}

    .service_box section { justify-content: center; width: 75%; }
    .service_box { justify-content: center; row-gap: 35px; }

    .portfolio_info { width: 100%; }

    .contact_details ul li { padding-left:0; }
    .contact_details ul li:nth-child(2) {padding-left: unset;}
    .contact_details ul li::before { position: static; display: block;top:0;transform: none;left:0; }
    .contact_details { text-align: center;  }
    .contact_details ul{display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 50px;}

    .footer_nav ul {flex-wrap: wrap; gap: 10px;}
    .footer_nav ul li{width:49%;}
    .footer_comp{display:block;margin:0 auto;padding:0;}
    .footer_comp:before, .footer_comp:after{display: none;}
    .footer_pp { display: block; margin: 5px; }

    .copyright q { display: none; } 
}



@media only screen
and (max-width : 600px) {
    #wpadminbar {position: fixed !important;}
    header{padding: 45px 15px; background: var(--thirdColor);}
    .head_info { width: 223px; position: relative; height: 40px; color: var(--thirdColor);  }

    .main_logo img { width: 60%; }

    .social_media {position: static;  margin: 20px 0 0; }  
    .social_media > ul:nth-child(2) { display: flex; justify-content: center; column-gap: 0; flex-direction: row; padding: 0; }
    .social_media { margin: 0; display: flex; justify-content: center; gap: 15px; flex-direction: column-reverse; align-items: center;}

    .page_nav ul li a {display: block;  color: var(--thirdColor); }
    .page_nav ul { padding: 25px 15px; }
    .nav_toggle_button .hamburger-inner { width: 35px; }
    .nav_toggle_button .hamburger-inner::before, .nav_toggle_button .hamburger-inner::after { width: 35px; }
    .nav_toggle_button small { display: none; }
    .nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner::after, .nav_toggle_button .hamburger-inner::before { background: var(--thirdColor); }
    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before { width: 24px; }
    .menu_slide_right .toggle_holder {right: 0;}
    
    .hero_con{min-height: 0; width: 200%;}
    .head_info_con { padding-block: 18px; }
    .hero_info h2 { font-size: 42px;}

    main .h1_title { font-size: 42px;line-height: 100%; }
    main {padding:0;border-top:0;}
    .main_con { padding: 50px 15px; }

    .service_info h2{ font-size: 42px; }

    .portfolio_info  h2 { font-size: 42px; }

    .contact_info h2 { font-size: 42px; }
    .contact_info ul li { font-size: 18px; }

    .footer_top {padding: 50px 0;}
    .footer_nav ul li{display:block;width:100%;}
    .footer_nav ul li a{margin:5px auto;}
    

    .copyright {margin: 25px auto 75px;}
    .back_top{display: block; bottom: 0;}
}
